/* variables */
:root {
  /* text */
  --desaturated-blue: hsl(238, 29%, 16%);
  --Soft-red: hsl(14, 88%, 65%);
  /* neutral text */
  --grayish-blue: hsl(237, 12%, 33%);
  --Dark-grayish-blue: hsl(240, 6%, 50%);
  /* Dividers */
  --Lgrayish-blue: hsl(240, 5%, 91%);
  /* component */
  --white: hsl(0, 0%, 100%);
}

/*Resets*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

/* GLobal styles*/
body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background: #af67e9;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #af67e9), to(#6565e7));
  background: linear-gradient(180deg, #af67e9 20%, #6565e7 100%);
  background-repeat: no-repeat;
}

.component {
  position: relative;
  border-radius: 20px;
  margin: 150px auto 0 auto;
  padding: 15px 0;
  background-color: var(--white);
  -webkit-box-shadow: -2px 12px 35px 5px #2e2e2e;
          box-shadow: -2px 12px 35px 5px #2e2e2e;
}

.faq-container {
  padding: 15px 20px;
  color: var(--Dark-grayish-blue);
}

.faq-container .faq-title {
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  padding: 20px 0 40px 0;
  color: var(--desaturated-blue);
}

.faq-container button.accordion {
  width: 100%;
  font-size: 14px;
  color: var(--Dark-grayish-blue);
  text-align: left;
  border: none;
  outline: none;
  margin: 0 0 10px 0;
  background: transparent;
  cursor: pointer;
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
  -webkit-transition: font-weight 0.3s ease-in-out;
  transition: font-weight 0.3s ease-in-out;
}

.faq-container .accordion-content {
  overflow: hidden;
  color: var(--Dark-grayish-blue);
  line-height: 18px;
  max-height: 0;
  -webkit-transition: max-height 0.3s linear;
  transition: max-height 0.3s linear;
}

.faq-container .divider {
  height: 1px;
  width: 100%;
  background-color: var(--Lgrayish-blue);
  margin: 15px 0;
}

button.accordion:hover {
  color: var(--Soft-red);
}

button.accordion::after {
  content: url("/images/icon-arrow-down.svg");
  float: right;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

button.accordion.is-open {
  font-weight: 500;
  color: var(--desaturated-blue);
}

button.accordion.is-open::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer {
  padding: 80px 20px 0 20px;
  text-align: center;
  color: var(--white);
}

footer a {
  color: var(--white);
  padding: 5px 2px;
  border-radius: 10px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

footer a:hover {
  background: blue;
}

@media screen and (max-width: 900px) {
  .component {
    width: 90%;
  }
  .orange-box,
  .desktop-image {
    display: none;
  }
  .mobile-image {
    position: absolute;
    top: -110px;
    left: -30px;
    right: 0;
    margin: auto;
    background-image: url(/images/bg-pattern-mobile.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
  }
  .faq-container {
    margin-top: 70px;
  }
}

@media (min-width: 901px) {
  .component {
    overflow: hidden;
    position: relative;
    max-width: 990px;
    max-height: 510px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0;
    margin: 100px auto 0 auto;
    background-image: url(/images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -550px -320px;
  }
  .orange-box {
    position: absolute;
    top: 280px;
    left: 9%;
    z-index: 20;
  }
  .image-container .mobile-image {
    display: none;
  }
  .image-container .desktop-image {
    margin: 0 100px 0 -150px;
  }
  .faq-container {
    overflow: hidden;
    width: 40%;
    height: 500px;
  }
  .faq-container .faq-title {
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */