@media screen and(max-width: 900px) {
	.component {
		width: 90%;
	}
	.orange-box,
	.desktop-image {
		display: none;
	}
	.mobile-image {
		position: absolute;
		top: -110px;
		left: -30px;
		right: 0;
		margin: auto;
		background-image: url(/images/bg-pattern-mobile.svg);
		background-repeat: no-repeat;
		background-position: 100% 100%;
	}

	.faq-container {
		margin-top: 70px;
	}
}

@media (min-width: 901px) {
	.component {
		overflow: hidden;
		position: relative;
		max-width: 990px;
		max-height: 510px;
		display: flex;
		justify-content: center;
		padding: 50px 0;
		margin: 100px auto 0 auto;
		background-image: url(/images/bg-pattern-desktop.svg);
		background-repeat: no-repeat;
		background-position: -550px -320px;
	}
	.orange-box {
		position: absolute;
		top: 280px;
		left: 9%;
		z-index: 20;
	}

	.image-container {
		.mobile-image {
			display: none;
		}

		.desktop-image {
			margin: 0 100px 0 -150px;
		}
	}

	.faq-container {
		overflow: hidden;
		width: 40%;
		height: 500px;

		.faq-title {
			text-align: left;
		}
	}
}
